### **What is Sets?**

1. Sets are another data type in python that also stores value like **LIST** and **Tuple**
2. The main difference is that it holds the unique values means it does not holds the multiple occurance of same element.
3. It is an unordered collection of data.
4. To define Sets we use **{}**

In [19]:
# Create an emplty set

mySet = set()
print("My Set: ", mySet)
print("Data Type: ", type(mySet))
print("Length of mySet: ", len(mySet))

My Set:  set()
Data Type:  <class 'set'>
Length of mySet:  0

In [20]:
# Create an empty set with {}

mySet = {}
print("My Set: ", mySet)
print("Data Type: ", type(mySet))
print("Length of mySet: ", len(mySet))

My Set:  {}
Data Type:  <class 'dict'>
Length of mySet:  0

- Understanding : If you want to create an empty set then yu have to use the set constructor else with {} it returns a empty dictionary.

In [21]:
# Create set with some elements

programming_language = {"Python", "C++", "HTML","JAVA", "CSS", "SQL"}
print("Programming Language: ", programming_language)
print("Data Type: ", type(programming_language))
print("Length of mySet: ", len(programming_language))

Programming Language:  {'JAVA', 'SQL', 'CSS', 'Python', 'HTML', 'C++'}
Data Type:  <class 'set'>
Length of mySet:  6

In [22]:
# Create set with some elements

programming_language = {"Python", "C++", "HTML","JAVA", "CSS", "SQL", "Python"}
print("Programming Language: ", programming_language)
print("Data Type: ", type(programming_language))
print("Length of mySet: ", len(programming_language))

Programming Language:  {'JAVA', 'SQL', 'CSS', 'Python', 'HTML', 'C++'}
Data Type:  <class 'set'>
Length of mySet:  6

In [23]:
# Accessing Item in Set
# We can access elements of a set using loops

for iter in programming_language:
    print(iter)

JAVA
SQL
CSS
Python
HTML
C++

In [24]:
# Adding an element: Add one item using add()

programming_language.add("R")

print(programming_language)

{'JAVA', 'SQL', 'CSS', 'Python', 'HTML', 'C++', 'R'}

In [25]:
# Adding an element: Add multiple items using update() The update() allows to add multiple items to a set. The update() takes a list argument.

data_science_skills = {"Python", "R","SQL"}
print(data_science_skills)
print(len(data_science_skills))

{'Python', 'SQL', 'R'}
3

In [26]:
# Add multiple skills

data_science_skills.update(["Tableau", "SAS", "Git"])

print(data_science_skills)
print(len(data_science_skills))

{'SQL', 'Git', 'SAS', 'Python', 'Tableau', 'R'}
6

The pop() methods remove a random item from a list and it returns the removed item.

In [28]:
# Remove the item

removed_item = programming_language.pop()

print(programming_language)
print(removed_item)

{'CSS', 'Python', 'HTML', 'C++', 'R'}
SQL

We can remove an item from a set using remove() method. If the item is not found remove() method will raise errors, so it is good to check if the item exist in the given set. However, discard() method doesn't raise any errors.

In [29]:
"Python" in programming_language

True

In [30]:
programming_language.remove("Python")
print(programming_language)

{'CSS', 'HTML', 'C++', 'R'}

In [31]:
# Remove all items

programming_language.clear()
print(programming_language)

set()

In [32]:
# Delete the sets

del programming_language
print(programming_language)

NameError: name 'programming_language' is not defined

**Converting List to Set**

We can convert list to set and set to list. Converting list to set removes duplicates and only unique items will be reserved.

In [33]:
print(data_science_skills)

{'SQL', 'Git', 'SAS', 'Python', 'Tableau', 'R'}

In [34]:
a = list(data_science_skills)
print(a)
print(type(a))

['SQL', 'Git', 'SAS', 'Python', 'Tableau', 'R']
<class 'list'>

In [35]:
a.append("Python")

In [36]:
a

['SQL', 'Git', 'SAS', 'Python', 'Tableau', 'R', 'Python']

In [37]:
converted_set_from_list = set(a)
print(converted_set_from_list)
print(type(converted_set_from_list))
print(len(converted_set_from_list))

{'SQL', 'Python', 'SAS', 'Git', 'Tableau', 'R'}
<class 'set'>
6

**Joining Sets**

We can join two sets using the union() or update() method or | symbol .

In [ ]:
# Using union method
fruits = {'banana', 'orange', 'mango', 'lemon'}

vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}

print(fruits.union(vegetables))

{'onion', 'banana', 'potato', 'mango', 'orange', 'lemon', 'carrot', 'cabbage', 'tomato'}

In [39]:
# Using Update method
fruits = {'banana', 'orange', 'mango', 'lemon'}

vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}

fruits.update(vegetables)

print(fruits)

{'onion', 'banana', 'potato', 'mango', 'orange', 'lemon', 'carrot', 'cabbage', 'tomato'}

**Finding Intersection Items**

In [42]:
# Finding Intersections:
# Intersection returns a set of items which are in both the sets or using & symbol.

whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.intersection(even_numbers)

{0, 2, 4, 6, 8, 10}

In [43]:
a = {'p', 'y', 't', 'h', 'o','n'}
b = {'d', 'r', 'a', 'g', 'o','n'}

a & b

{'n', 'o'}

**Checking Subset and Super Set**

A set can be a subset or super set of other sets:

- Subset: issubset()
- Super set: issuperset

In [44]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

even_numbers = {0, 2, 4, 6, 8, 10}

whole_numbers.issubset(even_numbers)

False

In [45]:
whole_numbers.issuperset(even_numbers)

True

In [46]:
even_numbers.issubset(whole_numbers)

True

In [47]:
python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.issubset(dragon)

False

**Checking the Difference Between Two Sets**

It returns the difference between two sets or using - symbol .

In [48]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

even_numbers = {0, 2, 4, 6, 8, 10}

whole_numbers.difference(even_numbers)

{1, 3, 5, 7, 9}

In [49]:
python = {'p', 'y', 't', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.difference(dragon)

{'p', 't', 'y'}

In [50]:
dragon.difference(python)

{'a', 'd', 'g', 'r'}

In [51]:
dragon - python

{'a', 'd', 'g', 'r'}

**If two sets are mutually exclusive**

If two sets do not have a common item or items we call them disjoint sets. We can check if two sets are joint or disjoint using isdisjoint() method.

In [52]:
even_numbers = {0, 2, 4 ,6, 8}
odd_numbers = {1, 3, 5, 7, 9}
even_numbers.isdisjoint(odd_numbers)

True

In [53]:
even_numbers = {0, 2, 4 ,6, 8}
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers.isdisjoint(whole_numbers)

False